body{
    background-color: rgb(250, 245, 245);
}
nav{
    background-color: black;
    border-radius: 10px;
}
.section {
    margin-top: 4rem;
    padding-top: 4rem;
    text-align: center;
    background-color: white;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
.bgimage{
    height:100vh;
    background: url('https://images.pexels.com/photos/56759/pexels-photo-56759.jpeg?cs=srgb&dl=pexels-caio-56759.jpg&fm=jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
    margin-right: 0;
    
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
    color: white;
}
.hero_desc {
    color: white;
    font-size: 2rem;
}
hr.first{
    border: 2px solid black;
}
#about{
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px grey;
}
#about:hover{
    border: 2px solid brown;
    border-radius: 15px;
    box-shadow: 10px 10px brown;
}
#services{
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px grey;
}
#services:hover{
    border: 2px solid brown;
    border-radius: 15px;
    box-shadow: 10px 10px brown;
}
#portfolio{
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px grey;
    margin-left: 5%;
    margin-right: 5%;
}
#portfolio:hover{
    border: 2px solid brown;
    border-radius: 15px;
    box-shadow: 10px 10px brown;
    margin-left: 5%;
    margin-right: 5%;
}
#contact{
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px grey;
    margin-left: 5%;
    margin-right: 5%;
}
#contact:hover{
    border: 2px solid brown;
    border-radius: 15px;
    box-shadow: 10px 10px brown;
    margin-left: 5%;
    margin-right: 5%;
}
.footer {
    background-color: lightgray;
    text-align: center;
}
i{
    width: 60px;
    
}
.fab:hover{
    color: white;
}

